.pokeTooltip {
  position: relative;
}

.pokeTooltipDetails {
  visibility: hidden;
  position: absolute;
  bottom: 100%;
  left: 50%;
  right: 0;
  margin-left: -100px;
  width: 200px;
  color: black;
  z-index: 100;
}

.pokeTooltip:hover .pokeTooltipDetails {
  visibility: visible;
}


  .textshadow {
    color: #FFFFFF;
    text-shadow:
    0 0 10px #FFFFFF,
    0 0 20px #FFFFFF,
    0 0 30px #FFFFFF,
    0 0 40px #FFFFFF,
    0 0 70px #FFFFFF,
    0 0 80px #FFFFFF,
    0 0 100px #FFFFFF,
    0 0 150px #FFFFFF;
  }
  
  .namejapan {
    text-shadow: 0 0 0.2em #FFFFFF, 0 0 0.2em #ffffff, 0 0 0.2em #FFFFFF;
  }








